#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.smooth-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* .swiper-button-next-base,
.swiper-button-prev-base,
.swiper-button-next-yumi,
.swiper-button-prev-yumi {
  background: white;
  width: 30px;
  height: 30px;
} */

/* .custom-prev-button,
.custom-next-button {
  background-color: rgba(255, 255, 255, 0.5); 
  box-shadow: 0 0 10px black;
} */

.banner-custom-swiper .swiper-button-prev,
.banner-custom-swiper .swiper-button-next {
  color: #898989;
}

.banner-custom-swiper .swiper-button-prev.swiper-button-disabled,
.banner-custom-swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.banner-custom-swiper .swiper-button-prev:hover,
.banner-custom-swiper .swiper-button-next:hover {
  color: #fff;
}

.banner-custom-swiper .swiper-pagination {
  padding-left: 80%;
  padding-bottom: 20px;
}

.banner-custom-swiper .swiper-pagination-bullet {
  background-color: #fff;
  width: 10px;
  height: 10px;
}

.content-custom-swiper .swiper-button-prev,
.content-custom-swiper .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 40%;
  width: 3.888rem;
  height: 100%;
  background-image: radial-gradient(
    106.25% 50% at 106.25% 50%,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.6) 52.6%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  opacity: 0;
}

.content-custom-swiper:hover .swiper-button-prev,
.content-custom-swiper:hover .swiper-button-next {
  opacity: 1;
}

.content-custom-swiper .swiper-button-prev.swiper-button-disabled,
.content-custom-swiper
  .swiper-button-next.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.content-custom-swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #898989;
  opacity: 0;
}

.content-custom-swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}

.content-custom-swiper:hover .swiper-pagination-bullet {
  opacity: 1;
}
